ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        border-radius: 1px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 100px auto;
        font-weight: bold;
        p {
            
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}

button {
    background-color: rgb(121, 121, 121);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1250px;
    cursor: pointer;   
    width: 140px; 
}